.sponsors {
  position: relative;

  &-wrapper {
    margin-top: 100px;
    height: 100%;

    @include md-up {
      margin: 0;
      height: 100vh;
    }

    > .lines {
      @include md-down {
        display: none;
      }
      display: block;
      top: 200px;
      right: 100px;
      height: 220px;
      width: 500px;
    }
  }

  &-background {
    height: calc(100vh - 200px);
    position: absolute;
    top: 150px;
    width: calc(100% - 450px);

    @include md-up {
      background: url('../assets/images/partners-background1.jpg');
      background-position: 80% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .lines {
      @include md-down {
        display: none;
      }
      display: block;
      bottom: -30px;
      left: -50px;
      height: 220px;
      width: 150px;
    }

    .red-rectangle {
      display: none;

      @include md-up {
        display: block;
        left: 70px;
        bottom: 140px;
        height: 140px;
        width: 110px;
      }
    }
  }

  &-list {
    width: 100%;
    background: #fff;
    box-shadow: 0 52px 114px 0 rgba(38,58,124,0.05);
    padding: 10px;
    flex-direction: column;
    margin-top: 20px;

    @include sm-up {
      width: 520px;
      background: #fff;
      padding: 30px;
      flex-direction: row;
      margin-top: 0;
    }

    @include md-up {
      position: absolute;
      right: 140px;
      top: 56%;
      transform: translateY(-50%)
    }

    @include lg-up {
      width: 880px;
    }
  }
}

.sponsor {
  width: 100%;
  margin: 10px 0;

  @include sm-up {
    &:nth-of-type(1) {
      width: 35%;
    }
    &:nth-of-type(2) {
      width: 65%;
    }
  }
}

.other-sponsors {
  margin-top: 20px;
}

.normal-sponsor-logo {
  max-width: 85px !important;
  padding: 20px 15px;
  max-height: 60px !important;
}

.other-sponsor {
  width: calc(50% - 35px);
  margin: 15px 15px 15px 0;
  padding: 10px;

  img {
    max-height: 50px;
  }

  @include sm-up {
    width: 70px;
  }
}

a.mail {
  color: black !important;
}

.sponsors__list {
  display: flex;
  flex-direction: column;

  .eurocash img {
    max-height: 100px;
    max-width: 300px;
    margin-bottom: 40px;

    @include md-up {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  .costa img {
    max-height: 100px;
    max-width: 200px;
  }

  @include md-up {
    flex-direction: row;
  }
}
