.btn {
  padding: 20px 30px;
  height: 52px;
  text-align: center;
  background-color: $red;
  border-radius: 2px;
  color: #fff;
  border: 1px solid $red;
  transition: 0.1s;
  cursor: pointer;
  @include font(12, semi);
  text-transform: uppercase;
  min-width: 140px;
  margin: 10px;

  @include sm-up {
    margin: 0 10px 0 0;
  }

  &:hover {
    background-color: darken($red, 2);
  }

  &:focus,
  &:active {
    outline: none;
  }

  &--block {
    display: block;
    width: 100%;
    max-width: none;
  }

  &--with-arrow {
    position: relative;
    padding: 20px 50px 20px 30px;

    &:after {
      position: absolute;
      display: block;
      content: url('../assets/images/arrow-white.svg');
      width: 20px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      //
      //&:hover {
      //  animation: moveArrow .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      //}
    }
  }

  &--outline {
    border: 1px solid black;
    background: white;
    color: black;

    &:hover {
      color: white;
      background: $red;
      border: 1px solid $red;
    }
  }
}

//
//@keyframes moveArrow {
//  0% {
//    right: 20px;
//  }
//  30% {
//    right: 10px;
//  }
//  60% {
//    right: 20px;
//  }
//  100% {
//    right: 10px;
//  }
//}
